*~
*#
*.swp
.#*

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.eggs/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build
.eggs
dist
.DS_store
/venv
*.iml
.idea/
*.lp
*.log
*.csv
src/scse/metrics/metrics_log.csv

.python-version
